<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364436864658-c1qeur6m8ujhea9eilqgfbpta8fjh84b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364436864658-c1qeur6m8ujhea9eilqgfbpta8fjh84b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>364436864658-85gksfqjog7im2cd4q0g3h8lh780kpta.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkC-fC6GLFpkqbDtcrh1oT1px5ZCeBZvY</string>
	<key>GCM_SENDER_ID</key>
	<string>364436864658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trackauthoritymusic</string>
	<key>PROJECT_ID</key>
	<string>trackauthoritymusic</string>
	<key>STORAGE_BUCKET</key>
	<string>trackauthoritymusic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364436864658:ios:6b2389dbb1ee47df6e304b</string>
	<key>DATABASE_URL</key>
	<string>https://trackauthoritymusic.firebaseio.com</string>
</dict>
</plist>